<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.worker.app">

    <application
        android:name="com.worker.app.utility.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launch_square"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity android:name="com.worker.app.activity.VideoViewActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name="com.worker.app.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.worker.app.activity.PaymentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="workerspayment" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.worker.app.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.worker.app.activity.IntroActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.worker.app.activity.ReloadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.worker.app.BaseActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.worker.app.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.SubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.WorkerProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.SignUpIndividualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.SignUpCorporateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.MyRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.ThankyouActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.Create_request_step_1"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.worker.app.activity.MyOrderListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.MyRequestListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.OrderSummeryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.worker.app.activity.MatchingRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.VisaDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.worker.app.activity.CreateRequestActivity_3"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.MyWorkersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.TermsConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.AgreementPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.OurPromisesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.Create_Request_Step_2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.ViewOrdreDeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.ViewRequestDeatailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.ShowAllCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.worker.app.activity.ShowAllCountryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.worker.app.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.worker.app.activity.AnnouncementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleAPIKey" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/footer3" />
        <service android:name="com.worker.app.utility.GPSTrackernew" />
        <service android:name="com.worker.app.notification.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>